
{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->
        
        <form method="post" action="/">
          <br><label for="slogan">Slogan:</label><br />
          <br><textarea name="slogan" rows="4" cols="55"></textarea></br>
          <br><label for="author">Author:</label><input type="text" name="author" size="40"> &nbsp;&nbsp;
              <label for="num">Number:</label><input type="text" name="num" size="5"><br />
<p>&nbsp;</p>
    <input type="submit" value="go" name="submit" />
  </form>

        
{% endblock %}